@font-face {
    font-family: HeeboLight;
    src: url(assets/Heebo-Light.ttf);
    font-weight: 800;
}

@font-face{
    font-family: HeeboBold;
    src: url(assets/Heebo-Bold.ttf);
    font-weight: 800;
}


body{
    text-align: center;
    font-size: 24px;
    padding: 2.5%;
    font-family: 'HeeboLight';
}

h1, h2, h3{
    font-family: 'HeeboBold';

}
h4 {
    font-size: 18px;
}
img {
    border: 5px solid #555;
    background-color: goldenrod;
}

.image2 {
    width: 100px;
    height: 100px;
}

